@{
    Layout = null;
}
@model FFTX.Models.User
@using FFTX.Models
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> 
<![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> 
<![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

	<title>Concept HTML5 responsive template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    

	<!-- CSS Bootstrap & Custom -->
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/css/animate.css">
    <link rel="stylesheet" href="/Content/css/font-awesome.min.css">
	<link rel="stylesheet" href="/Content/css/templatemo_misc.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="/Content/css/templatemo_style.css">


</head>
<body>
	<div class="site-header">
		<div class="main-navigation">

			<div class="responsive_menu">
				<ul>
					<li><a class="show-1 templatemo_home" href="#">Gallery</a></li>
					<li><a class="show-2 templatemo_page2" href="#">Products</a></li>
					<li><a class="show-3 templatemo_page3" href="#">Services</a></li>
					<li><a class="show-4 templatemo_page4" href="#">About Us</a></li>
					<li><a class="show-5 templatemo_page5" href="#">Contact Us</a></li>
				</ul>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-md-12 responsive-menu">
						<a href="#" class="menu-toggle-btn">
				            <i class="fa fa-bars"></i>
				        </a>
					</div> <!-- /.col-md-12 -->
					<div class="col-md-12 main_menu">				
						<ul style="display:inline">
							<li><a href="#">主页</a></li>
							<li><a href="#">好友</a></li>
							<li><a href="#">相册</a></li>
							<li><a href="#">留言板</a></li>
							<li><a class="templatemo_home" href="#">个人中心</a></li>
						</ul>
						<ul class="pull-right"style="display:inline">
							<li><a  href="#"><img class="img-circle img-thumbnail" src="@(((User)Session["user"]).User_HeadImg)" style="width:40px ;margin-top:-10px"/> @(((User)Session["user"]).User_Name)</a></li>
						</ul>						
					</div> <!-- /.col-md-12 -->
				</div> <!-- /.row -->
			</div> 
		</div> <!-- /.main-navigation -->
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<a class="templatemo_logo" href="#" >
						<h1>个人中心</h1>
					</a> <!-- /.logo -->
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</div> <!-- /.site-header -->
	<hr />
	<div class="container" >
		<div class="row">
			<div class="col-md-8 col-md-offset-2" style="border:1px #e1dfe1 solid;background-color:#fffeff"> 
				<div class = "row">					
					<div class="col-md-3" style=""><!--左侧头像-->
						<div class="row" style="margin-top:20px;margin-bottom:20px">
							<div class="col-md-12 text-center">
								<img style="width:80%"src="@(((User)Session["user"]).User_HeadImg)" /><!--用户头像 -->
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 text-center"><a href="#" data-toggle="modal" data-target="#changeHeadImg">修改头像</a></div>
						</div>
					</div>
					<div class="col-md-9" style="border-left:1px #e1dfe1 solid;"><!--用户基本信息-->
						<div class="row" style="color:#000">
							<div class="col-md-8" style="font-size:20px;margin-top:10px">基本资料</div>
							<div class="col-md-2" style="margin-top:10px"><a href="#" data-toggle="modal" data-target="#changeInfo" class="text-info">修改信息</a></div>
							<div class="col-md-2" style="margin-top:10px"><a href="#" data-toggle="modal" data-target="#changePassword" class="text-info">修改密码</a></div>
						</div>
						<hr />
						<div class="row">
							<div class="col-md-3">
								用户名:
							</div>
							<div class="col-md-9">
								@(((User)Session["user"]).User_Name)
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								性别:
							</div>
							<div class="col-md-9">
								@(((User)Session["user"]).User_Sex)
							</div>
						</div>
						<div class="row" >
							<div class="col-md-3">
								邮箱:
							</div>
							<div class="col-md-9">
								@(((User)Session["user"]).User_Email)
							</div>
						</div>
						<div class="row" >
							<div class="col-md-3">
								联系电话:
							</div>
							<div class="col-md-9">
								@(((User)Session["user"]).User_Phone)
							</div>
						</div>
					</div>
				</div>
			</div>		
		</div>
	</div>
    <!-- 模态框（Modal） 修改头像 -->
    <div class="modal fade" id="changeHeadImg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
		    <div class="modal-content">
			    <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					    &times;
				    </button>
				    <h4 class="modal-title" id="myModalLabel">
					    修改头像
				    </h4>
			    </div>
			    <div class="modal-body">
				    @using (Html.BeginForm("changeHeadImg", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input type="file" name="file" id="fileInput"/> 
                        
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="上传"/>
                            
					        <button type="button" class="btn btn-default" data-dismiss="modal">取消
					        </button>
				        </div>
                    }
			    </div>			    
		    </div><!-- /.modal-content -->
	    </div><!-- /.modal -->
    </div><!-- /模态框（Modal） -->
    <!-- 模态框（Modal） 修改个人信息 -->
    <div class="modal fade" id="changeInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
		    <div class="modal-content">
			    <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					    &times;
				    </button>
				    <h4 class="modal-title" id="myModalLabel">
					    修改个人信息
				    </h4>
			    </div>
			    <div class="modal-body">
				    @using (Html.BeginForm("changeInfo", "Manage", FormMethod.Post))
                    {
                        <div class="row">
                            <div class="col-md-3">
                                用户昵称：
                            </div>
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.User_Name, new { @Value= @ViewBag.user.User_Name,style="width:105px;" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                email：
                            </div>
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.User_Email, new { @Value= @ViewBag.user.User_Email,style="width:105px;" })
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-md-3">
                                性别：
                            </div>
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.User_Sex, new { @Value= @ViewBag.user.User_Sex,style="width:105px;" })
                            </div>
                        </div>            
                          <div class="row">
                            <div class="col-md-3">
                                电话：
                            </div>
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.User_Phone, new { @Value= @ViewBag.user.User_Phone,style="width:105px;" })
                            </div>
                        </div>                                              
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="修改" />
				            <button type="button" class="btn btn-default" data-dismiss="modal">取消
				            </button>
			            </div>
                     }
			    </div>			    
		    </div><!-- /.modal-content -->
	    </div><!-- /.modal -->
    </div><!-- /模态框（Modal） -->

     <!-- 模态框（Modal） 修改密码 -->
    <div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
	    <div class="modal-dialog">
		    <div class="modal-content">
			    <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					    &times;
				    </button>
				    <h4 class="modal-title" id="myModalLabel2">
					    修改密码
				    </h4>
			    </div>
			    <div class="modal-body">
				    @using (Html.BeginForm("changePassword", "Manage", FormMethod.Post))
                    {
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-2 text-center">
                                        旧密码:</div>
                                    <div class="col-md-8">
                                         @Html.PasswordFor(model => model.User_Password)<br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2 text-center">
                                        新密码:
                                    </div>
                                    <div class="col-md-8">
                                         @Html.PasswordFor(model => model.Password_Answer)<br />
                                    </div>
                                 </div>
                                <div class="row">
                                    <div class="col-md-2 text-center">
                                        确认密码:
                                    </div>
                                    <div class="col-md-8">
                                         @Html.PasswordFor(model => model.User_Password)<br />
                                    </div>
                                </div>
                            </div>
                                               
                        
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="修改" />
				            <button type="button" class="btn btn-default" data-dismiss="modal">取消
				            </button>
			            </div>
                     }
			    </div>			    
		    </div><!-- /.modal-content -->
	    </div><!-- /.modal -->
    </div><!-- /模态框（Modal） -->

	<div id="templatemo_footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<p></p>
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</div> <!-- /.templatemo_footer -->

	<!-- Scripts -->
	<script src="/Content/js/jquery-1.10.2.min.js"></script>
    <script src="/Content/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/Content/js/modernizr.js"></script>
	<script src="/Content/js/bootstrap.js"></script>
	<script src="/Content/js/tabs.js"></script>
    <!--修改密码提示 -->
    @if(ViewBag.pwdState!=null){
        if(ViewBag.pwdState==1){
            <script type="text/javascript">
                alert("修改密码成功");
            </script>
        }else{
            <script type="text/javascript">
                alert("修改密码失败");
            </script>
        }
    }
    <!--修改信息提示 -->
    @if (ViewBag.infoState!=null)
    {
        if (ViewBag.infoState==1)
        {
            <script type="text/javascript">
                alert("修改信息成功");
            </script>
        }
        else
        {
            <script type="text/javascript">
                alert("修改信息失败");
            </script>
        }
    }
    <!--修改头像提示 -->
    @if (ViewBag.headImgState!= null)
    {
        if (ViewBag.headImgState== 1)
        {
            <script type="text/javascript">
                alert("修改头像成功,重新登录后可见");
            </script>
        }
        else
        {
            <script type="text/javascript">
                alert("修改头像失败");
            </script>
        }
    }
</body>
</html>
