@{
    Layout = null;
}

<!DOCTYPE html>
@model FFTX.Models.User
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="../../Content/my.css" />
</head>
<body>
    <div id="head">管理中心页面 
        <div id="head-bg">
            <img src="" />
            <div id="head-name">用户名: @ViewBag.User_Name </div>
        </div>
        <div id="nav">
            <span>@Html.ActionLink("我的主页", "FFTXIndex") </span><span>@Html.ActionLink("我的相册", "Album")</span><span>@Html.ActionLink("留言板", "Board")</span><span>@Html.ActionLink("管理中心", "Index")</span>
        </div>
    </div>
    <div id="menu">
        <div id="gz">个人信息修改 </div>

       @using (Html.BeginForm("changeInfo", "Manage", FormMethod.Post))
       {
           <p>用户昵称:@Html.TextBoxFor(model => model.User_Name, new { @Value= @ViewBag.user.User_Name,style="width:75px;" })<br />
              email: @Html.TextBoxFor(model => model.User_Email, new { @Value= @ViewBag.user.User_Email,style="width:75px;" })<br />
               性别: @Html.TextBoxFor(model => model.User_Sex, new { @Value= @ViewBag.user.User_Sex,style="width:75px;" })<br />
               电话: @Html.TextBoxFor(model => model.User_Phone, new { @Value= @ViewBag.user.User_Phone,style="width:75px;" })<br />
               <input type="submit" value="修改" />
           </p>
       }

    </div>
    <div id="content">
        <div id="dt">密码修改</div>
        @using (Html.BeginForm("changePassword", "Manage", FormMethod.Post))
       {
           <p>原密码:@Html.PasswordFor(model=>model.User_Password)<br />
              新密码: @Html.PasswordFor(model=>model.Password_Answer)<br />

              <input type="submit" value="修改" />
           </p>
       }
    </div>
</body>
</html>
