@{
    Layout = null;
}
@model FFTX.Models.User
<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>非凡图像show系统注册</title>
	<meta name="keywords" content="#">
	<meta name="content" content="#">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <link type="text/css" rel="stylesheet" href="Content/login.css">
</head>
<body class="login_bj" >

<div class="zhuce_body">
	<div class="logo"><a href="#"><img src="Content/img/logo.png" width="300" height="126" border="0"></a></div>
    <div class="zhuce_kong">
    	<div class="zc">
        	<div class="bj_bai">
            <h3>欢迎注册</h3>
			 @using (Html.BeginForm("Register", "Rigister", FormMethod.Post, new { onsubmit="return yz()"}))
    {
				    @Html.TextBoxFor(model => model.User_Id, new { @class = "kuang_txt", placeholder = "帐号" })<br />
					   @Html.PasswordFor(model => model.User_Password, new { @class = "kuang_txt", placeholder = "密码" })<br />
					   <input type="password" id="CWD" class="kuang_txt" placeholder="确认密码" />
       
					   @Html.TextBoxFor(model => model.User_Name, new { @class = "kuang_txt", placeholder = "昵称" })<br />
					   @Html.TextBoxFor(model => model.Password_Question, new { @class = "kuang_txt", placeholder = "找回密码问题" })<br />
					   @Html.TextBoxFor(model => model.Password_Answer, new { @class = "kuang_txt", placeholder = "找回密码答案" })<br />
				   <input type="submit" value="注册" class="btn_zhuce"/>
				   
    }
       	  	  
            </div>
        	<div class="bj_right">

                <a href="/Login" style="margin-top:150px">已有账号？立即登录</a>
            
            </div>
        </div>
        
    </div>

</div>
    <script type="text/javascript">
        function $(k) {
            return document.getElementById(k);
        }
        function yz() {
            if ($("User_Id").value == "") {
                alert("用户名不能为空");
                return false;
            }
            if ($("User_Password").value.length < 5 || $("User_Password").value.length>18) {
                alert("密码应为6~18位");
                return false;
            }
            if (!($("User_Password").value == $("CWD").value)) {
                alert("两次密码输入不一致");
                return false;
            }
            if ($("User_Name").value == "") {
                alert("用户昵称不能为空");
                return false;
            }
            if ($("Password_Question").value == "") {
                alert("密码问题不能为空");
                return false;
            }
            if ($("Password_Answer").value == "") {
                alert("密码答案不能为空");
                return false;
            }
            return true;
        }
        "aaaa".length
    </script>
</body>
</html>
